.footer {
    margin-top: 60px;
    padding-top: 37px;
    flex-shrink: 0;
    background-color: #D90000;
    color: #fff;

}

.information {
    display: flex;
    margin-bottom: 76px;
    gap: 66px;
    font-size: 14px;
    line-height: 22px;
}


.club {
    margin-right: 37px;
}

.feedback {
    padding-top: 10px;
}

.subscribe {
    margin-left: auto;
    margin-top: 9px;
    margin-right: 7px;
}

.infoTitle {
    font-weight: 700;
}

.links {
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.link {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.phone {
    display: inline-flex;
    flex-direction: column;
}

.phoneNumber {
    display: inline-flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.phoneImg {
    display: inline-block;
    margin-right: 10px;
}

.phoneDescr {
    padding-left: 35px;
    margin-bottom: 10px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.linkContainer {
    display: flex;
}

.linkImg {
    margin-right: 22px;
}


.politics {
    margin-top: 6px;
}


.checkboxLabel {
    margin-left: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;

    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.footerBottom img {
    object-fit: cover;
}

@media (max-width: 1200px) {

    .information {
        margin-bottom: 30px;
        gap: 0;
        display: flex;
    }

    .online,
    .club,
    .feedback,
    .subscribe {
        margin: 0 auto;
        padding: 0;
    }

    .phoneDescr {
        padding-left: 0;
    }
}

@media (max-width: 992px) {

    .information {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'online club feedback ' 'subscribe subscribe subscribe';
    }

    .online {
        grid-area: online;
    }

    .club {
        grid-area: club;
    }

    .feedback {
        grid-area: feedback;
    }

    .subscribe {
        grid-area: subscribe;
    }

    .phoneNumber {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px
    }
}

@media (max-width: 768px) {
    .footerBottom {
        flex-direction: column-reverse;
        gap: 15px;
        text-align: center;
    }

    .footerVisa {
        margin: 0 auto;
    }

    .information {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        grid-template-areas:'feedback feedback' 'subscribe subscribe' 'online club';
    }

    .feedback {
        align-self: center;
    }
}

@media (max-width: 480px) {
    .feedback {
        margin: 0;
    }

    .subscribe {
        height: 170px;
    }

    .footer {
        padding-top: 0;
    }
}