
.header {
    margin-top: 32px;
    margin-bottom: 70px;
}

.headerTop {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerRight {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
}

.btnImg {
    cursor: pointer;
}

.btnImg rect, .btnImg path {
    transition: all .3s ease;
}

.btnImg:hover rect {
    fill: #FFF8EB;
    stroke: #FFA900;
}

.btnImg:hover path {
    fill: #FFA900;
}

@media (max-width: 1200px) {
    .header {
        margin-bottom: 40px;
    }

}

@media (max-width: 768px) {

    .header {
        margin-top: 18px;
        margin-bottom: 15px;
    }

    .logo {
        height: 45px;
    }

    .headerTop {
        padding-bottom: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }
}


@media (max-width: 480px) {

    .header {
        margin-top: 9px;
        margin-bottom: 10px;
    }

    .logo {
        height: 35px;
    }

    .headerTop {
        padding-bottom: 10px;
        margin-bottom: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

}