
.header {
    margin-top: 32px;
    margin-bottom: 70px;
}

.headerTop {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.searchBlock {
    min-width: 317px;
    width: 60vw;
    margin: 0 26px;

    position: relative;
}

.search {
    height: 48px;
    width: 100%;

    padding: 12px 17px 14px 15px;

    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}

.iconSearch {
    position: absolute;
    right: 14px;
    top: 12px;
    background: url(../../assets/images/header/search.svg) no-repeat;
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.headerRight {
    width: 300px;
    display: flex;
    gap: 14px;
}

.btnImg {
    cursor: pointer;
}

.btnImg rect, .btnImg path {
    transition: all .3s ease;
}

.btnImg:hover rect {
    fill: #FFF8EB;
    stroke: #FFA900;
}

.btnImg:hover path {
    fill: #FFA900;
}

.shopCart {
    display: inline-flex;
    align-items: center;

    padding: 6px 11px 6px 13px;
    min-width: 130px;
    height: 48px;

    background: #FF0000;
    border-radius: 16px;

    transition: .3s ease;
    cursor: pointer;

    position: relative;
}


.shopCart:hover {
    background-color: #ffb53e;
}

.cartImage {
    display: inline-block;
    width: 26px;
    height: 22px;
}

.cartDefault {
    display: inline-flex;
    position: absolute;
    top: 15px;
    right: 11px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.cartNotEmpty {
    display: inline-block;
    margin-left: 7px;
}

.list {
    display: flex;
    gap: 14px;

    cursor: pointer;
}


.item {
    display: flex;
    align-items: center;

    height: 48px;
    padding: 13px 22px;

    background: #FFF8EB;
    border: 1px solid rgba(255, 169, 0, 0.45);
    border-radius: 16px;

    line-height: 32px;
}

.item img {
    vertical-align: middle;
}

.itemText {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0A0A0A;
}


.itemActive {
    background: #FFE8BC;
}
