.shopCart {
    display: inline-flex;
    align-items: center;

    padding: 9px 8px 6px 13px;
    min-width: 130px;
    height: 48px;

    background: #FF0000;
    border-radius: 16px;

    transition: .3s ease;
    cursor: pointer;

    position: relative;
}


.shopCart:hover {
    background-color: #ffb53e;
}

.cartImage {
    display: inline-block;
    width: 26px;
    height: 22px;
}

.cartDefault {
    display: inline-flex;
    position: absolute;
    top: 15px;
    right: 11px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.cartNotEmpty {
    margin-left: 8px;

    font-weight: 700;
    font-size: 16px;
}

.cartQuantity {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.quantity {
    position: absolute;
    left: 27px;
    top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;
    height: 15px;
    background-color: #FFA900;
    border-radius: 50%;

    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    color: #FF0000;
}

@media screen and (max-width: 768px) {
    .shopCart {
        min-width: 111px;
        height: 33px;
        border-radius: 11px;
    }

    .cartImage {
        width: 22px;
        height: 18px;
    }

    .cartDefault,
    .cartNotEmpty {
        font-size: 13px;
        line-height: 18px;
    }

    .cartDefault {
        top: 9px;
        right: 16px;
    }
}

@media screen and (max-width: 370px) {

    .shopCart {
        min-width: 0;
        padding: 9px 5px 6px 10px;
        width: 100px;
    }

    .quantity {
        left: 24px;
    }

    .cartDefault,
    .cartNotEmpty {
        margin-left: 8px;
        font-size: 11px;
        line-height: 16px;
    }
}