.rating {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 28px 446px 25px 63px;

    background: #FFF8EB;
    border: 1px solid #FFE7B9;
    border-radius: 16px;

    position: relative;
}

.ratingText {
    position: relative;
}

.title {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-transform: uppercase;
    color: #2E0505;
}

.text {
    max-width: 353px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2E0505;
}

.leaf {
    position: absolute;
    left: -70px;
    bottom: -80px;
}

.stars {
    max-width: 231px;
    display: flex;
    justify-content: space-between;
    gap: 19px;
}

.starButton {
    cursor: pointer;
}

.submitButton {
    margin-top: 15px;
    padding: 13px 36px;

    border: 2px solid #FF0000;
    border-radius: 31px;

    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FF0000;

    transition: .3s;
}

.submitButton:hover {
    background-color: #FF0000;
    color: #fff;
}


.img {
    position: absolute;
    top: -45px;
    right: 24px;
}

@media screen and (max-width: 1200px) {
    .rating {
        padding: 20px 325px 20px 25px;
    }

    .leaf {
        left: -30px;
    }

    .img {
        right: -12px;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 30px;
    }

    .text {
        font-size: 16px;
    }

    .submitButton {
        font-size: 20px;
    }


}

@media screen and (max-width: 991px) {
    .ratingText {
        width: 100%;
    }

    .rating {
        padding-right: 170px;
    }

    .img {
        width: 200px;
        height: 200px;

        top: 23px;
        right: -20px;
    }

    .stars {
        width: 200px;
        gap: 12px;
    }

    .starButton img {
        width: 26px;
        height: 26px;
    }

    .submitButton {
        padding: 6px 32px;
        font-size: 17px;
        line-height: 20px;
    }

    .leaf {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .rating {
        padding: 20px 14px 32px 19px;
        flex-direction: column;

    }

    .img {
        overflow: hidden;
        top: 100px;
        right: 0;
        width: 163px;
        height: 153px;
    }

    .submitButton {
        font-size: 14px;
    }

    .starsBlock {
        padding-right: 30px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {


    .title {
        font-size: 18px;
        line-height: 25px;
    }

    .text {
        font-size: 15px;
        line-height: 21px;
    }

    .img {
        top: 114px;
        right: -44px;
    }

    .starsBlock {
        margin: 0;
        padding: 0;
    }

    .stars {
        width: 190px;
        gap: 6px;
    }
}

