.auth {
    position: relative;
}

.authPopup {
    position: absolute;
    top: 50px;
    right: -80px;

    min-width: 227px;
    max-width: 310px;

    padding: 17px 23px 23px;

    background: #FFFFFF;
    border: 1px solid #d5d5d5;
    border-radius: 12px;

    z-index: 15;

    text-align: left;
}

.btnImg {
    cursor: pointer;
}

.btnImg rect, .btnImg path {
    transition: all .3s ease;
}

.btnImg:hover rect {
    fill: #FFF8EB;
    stroke: #FFA900;
}

.btnImg:hover path {
    fill: #FFA900;
}

.tooltipActive {
    animation: showTooltip .3s forwards;
}

.tooltipExit {
    animation: showTooltip .3s reverse;
}

@keyframes showTooltip {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}