
.categoriesList {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    padding: 8px 24px;

    background: #FFF8EB;
    border: 1px solid rgba(255, 169, 0, 0.45);
    border-radius: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;

    transition: .3s ease;
}


.category:first-child {
    margin-left: -14px;
}

.categoryActive {
    background: #FFA900;
    color: #fff;
    position: relative;
}


.categoryActive:after {
    content: '';
    position: absolute;
    background: url("../../assets/images/categoriesX.svg");
    right: 7px;
    top: 11px;
    width: 15px;
    height: 15px;
}

.categoryClean {
    background: #F8F8F8;
    border: 1px solid rgba(131, 131, 131, 0.45);

    color: #C3C3C3;
}

.categories {
    display: block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 28px;
}
