.home {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


.buttonsRight {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.sliderTitle {
    padding-top: 113px;
    padding-left: 52px;
    margin-bottom: 34px;
    width: 530px;

    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.buttonLink {
    margin-left: 52px;
    padding: 13px 28px;

    border: 2px solid #FFFFFF;
    border-radius: 31px;

    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}


.sales {
    margin-top: 114px;
}


.itemTitle {
    margin-top: 130px;
    margin-bottom: 43px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.items {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 28px;
}

.link {
    display: inline-block;
    width: 304px;
    height: 304px;

    border: 1px solid;
    border-radius: 58px;

    position: relative;
    transition: .3s;
}


.link:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.text {
    width: 225px;

    margin-top: 35px;
    margin-left: 39px;

    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #383C5C;

}

.image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner {
    padding: 30px;
    height: 449px;
}

.bannerText {
    user-select: none;
    margin-left: 6px;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
}

.bannerCoupon {
    display: inline-block;
    margin-top: 9px;
    margin-left: 4px;

    background: #FFFFFF;
    border-radius: 39px;
    padding: 9px 10px 9px 18px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.delivery {
    margin-top: 94px;
}

.deliveryTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.deliveryWrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 46px;
}


.deliveryTitleText {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FF0000;
}

.deliveryDescr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.deliveryText {
    width: 630px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}


.deliveryMap {
    width: 633px;
}


.mapTitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FF0000;
}

.promoBlock {
    margin-top: 94px;
    margin-bottom: 98px;
}

.ratingBlock {
    margin-bottom: 33px;
}

@media screen and (max-width: 1340px) {
    .top {
        padding: 0 10px;
        flex-wrap: wrap;
    }

    .buttonsRight {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .sliderTitle {
        padding-top: 50px;
        padding-left: 40px;
        margin-bottom: 30px;
    }

    .img {
        max-width: 50%;
        height: auto;
    }
}