.containerCart {
    width: 100%;
}

.cartTop {
    margin-bottom: 38px;
    width: inherit;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}

.removeItems {
    height: 100%;

    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #6B6B6B;

    transition: .3s ease;
}

.removeItems:hover {
    color: #000;
}

.nightOrder {
    width: 100%;
    margin-top: -22px;
    margin-bottom: 37px;
    padding: 12px 0 9px 18px;

    background: #FFEBEB;
    border: 1px solid #FF0000;
    border-radius: 16px;

    position: relative;
}

.nightImg {
    position: absolute;
    left: 19px;
    top: 13px;
}

.nightText {
    display: block;
    margin-left: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

@media screen and (max-width: 991px) {
    .goods {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .goods {
        gap: 17px;
    }

    .nightOrder span {
        font-size: 18px;
        line-height: 25px;
    }
}

@media screen and (max-width: 430px) {
    .nightText {
        width: 210px;
    }

    .nightImg {
        left: 19px;
        top: 16px;
    }
}