.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}

.cart {
    display: flex;
}

.containerCart {
    width: 100%;
}

.cartTop {
    margin-bottom: 38px;
    width: inherit;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
}

.removeItems {
    height: 100%;

    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #6B6B6B;

    transition: .3s ease;
}

.removeItems:hover {
    color: #000;
}


/*styles for item*/
.item {
    display: flex;
    height: 131px;
    margin-bottom: 18px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'name priceBlock counter favourite total'
                         'name . . . .'
                         'name . . . .';
    gap: 8px;

    margin-left: auto;
}

.image {
    min-width: 130px;
    min-height: 130px;

    position: relative;
}

.itemImage {
    width: 100%;
    height: 100%;

    object-fit: contain;
    border: 1px solid #DADADA;
    border-radius: 20px;

}

.saleImage {
    position: absolute;
    left: 0;
    top: 0;
}

.name {
    width: 275px;
}

.productName {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.productCount {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #434343;
}


.price {
    margin-right: 8px;
    text-align: right;
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.newPrice {
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #CF0000;
}

.oldPrice {
    margin-right: 10px;

    white-space: nowrap;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #434343;
}

.total {
    max-width: 125px;
    width: 100%;
}

.totalPrice {
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
}

.totalQuantity {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}

.nightOrder {
    width: 100%;
    height: 48px;
    margin-top: -22px;
    margin-bottom: 37px;
    padding: 12px 0 12px 18px;

    background: #FFEBEB;
    border: 1px solid #FF0000;
    border-radius: 16px;
}

.nightOrder span {
    margin-left: 14px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

@media screen and (max-width: 1280px) {

    .content {
        margin-left: 50px;
    }

    .counter,
    .favourite {
        margin-left: auto;
    }

    .priceBlock {
        width: 100px;
    }

    .total {
        margin-left: auto;
    }
}

@media screen and (max-width: 991px) {

    .goods {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .item {
        width: 49%;
    }

    .content {
        height: 140px;
        margin-left: 14px;

        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        position: relative;
    }

    .priceBlock {
        width: 100%;

        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .price {
        text-align: left;
    }

    .newPrice {
        text-align: left;
    }

    .total,
    .counter {
        margin-left: 0;
    }

    .name {
        width: 100%;
        height: 60px;
    }

    .productName {
        font-size: 18px;
        line-height: 20px;
    }

    .productCount {
        position: absolute;
        left: -142px;
        bottom: -20px;
    }

    .counter {
        align-self: center;
    }

    .total {
        align-self: center;
        max-width: none;
        width: auto;
    }

    .totalQuantity {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .goods {
        gap: 17px;
    }

    .item {
        margin-bottom: 0;

        width: 100%;
        padding-bottom: 162px;
        border-bottom: 1px solid #C4C4C4;

    }


    .itemImage {
        max-width: 100px;
        height: 100px;
    }

    .newPrice,
    .productName {
        font-size: 16px;
        line-height: 22px;
    }

    .oldPrice {
        font-size: 14px;
        line-height: 19px;
    }

    .counter {
        margin-left: 10px;
    }

    .image {
        min-width: 100px;
        min-height: 100px;
    }

    .productCount {
        left: -112px;
        bottom: 10px;
    }
}


@media screen and (max-width: 480px) {
    .productName {
        font-size: 15px;
        line-height: 20px;
    }

    .price {
        font-size: 18px;
        line-height: 18px;
    }
}

@media screen and (max-width: 353px) {

    .image {
        min-width: 90px;
        min-height: 90px;
    }

    .saleImage {
        width: 32px;
        height: 21px;
    }

    .counter {
        margin-left: 0;
    }

    .productCount {
        font-size: 12px;
        left: -102px;
    }

    .price {
        font-size: 16px;
    }

    .totalPrice {
        font-size: 16px;
    }
}