.list {
    display: flex;

    cursor: pointer;
}


.slide {
    flex-shrink: 1;
}


.item {
    display: flex;
    align-items: center;

    height: 48px;
    padding: 11px 15px 11px 14px;

    background: #FFF8EB;
    border: 1px solid rgba(255, 169, 0, 0.45);
    border-radius: 16px;

    line-height: 32px;
}

.item img {
    vertical-align: middle;
}

.itemText {
    padding-left: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0A0A0A;
}


.itemActive {
    background: #FFE8BC;
}

@media screen and (max-width: 768px) {

    .item {
        height: 40px;
        padding: 10px 8px 10px 8px;

    }

    .item img {
        width: 18px;
        height: 18px;
    }

    .itemText {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }
}


@media screen and (max-width: 480px) {

    .item {
        height: 30px;
        padding: 7px 6px 7px 5px;
        border-radius: 8px;
    }

    .item img {
        width: 15px;
        height: 15px;
    }

    .itemText {
        padding-left: 2px;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
    }
}