.checkout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.title {
    margin-bottom: 38px;

    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}
