
.topMain {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 11px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}

.shop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.catalog {
    width: 314px;
}

.productContainer {
    width: 962px;
    display: flex;
    flex-direction: column;
}

.categories {
    display: block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 28px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 25px;
}