
.topMain {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 11px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}

.shop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14px;

    margin-bottom: 111px;
}

.catalog {
    width: 314px;
}

.productContainer {
    max-width: 962px;
    display: flex;
    flex-direction: column;
}


.newGoods {
    margin-top: 89px;
    margin-bottom: 60px;
}

.sliderTitle {
    margin-bottom: 68px;
}

@media screen and (max-width: 1024px) {
    .sliderTitle {
        margin-bottom: 55px;
    }
}


@media screen and (max-width: 991px) {
    .sliderTitle {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 768px) {
    .sliderTitle {
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 480px) {
    .sliderTitle {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 320px) {
    .sliderTitle {
        margin-bottom: 28px;
    }
}