.feature {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

}

.featureLabel {
    margin-bottom: 17px;

    font-size: 20px;
    line-height: 27px;
}

.featureLabel:before {
    width: 17px;
    height: 17px;
    background: rgba(255, 169, 0, 0.35);
}

.featureLabel:after {
    left: 5px;
    top: 7px;
    width: 7px;
    height: 7px;
}
